{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}


  <div class="login-menu center-align">
    <div style="display: inline-block;opacity: 0.7;">
      <a class="btn btn-block btn-social btn-facebook center-align" href="/accounts/facebook/login/">
        <span class="fa fa-facebook"></span> Sign in with Facebook
      </a>



      <a class="btn btn-block btn-social btn-google center-align" href="/accounts/google/login/">
        <span class="fa fa-google"></span> Sign in with Google
      </a>


    <a class="btn btn-block btn-social btn-github center-align" href="/accounts/github/login/">
      <span class="fa fa-github"></span> Sign in with Github
    </a>
    </div>
    <br><br><br><br>
    <form method="post">
      {% csrf_token %}
       {{ form.non_field_errors }}
    <div class="form-group">
    <input id="id_login" class="form-control" maxlength="30" name="login" placeholder="Username" type="text" />{{ form.login.errors }}<br>
  </div>
  <div class="form-group">
    <input id="id_password"  class="form-control" name="password" placeholder="Password" type="password" />{{ form.password.errors }}<br>
  </div>
  <div class="remember-forgot-section">
    <input id="id_remember" name="remember" type="checkbox" />
    <label for="id_remember">Remember Me</label>

    <a class="forgot" href="{% url 'account_reset_password' %}">Forgot Password?</a><br><br>
    <button type="submit" name="button" class="btn btn-primary">Sign In</button>

  </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <p class="inline">&nbsp&nbsp</p>
    </form>
    <div class="footnote">
      Don't have an account?  <a href="{% url 'account_signup' %}">Sign Up</a>
    </div>

  </div>
{% endblock %}
