{% extends "base.html" %}

{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="jumbotron">
      <span class="font-cormorant">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</span>
      {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
      {% endif %}

      {% if token_fail %}
          {% url 'account_reset_password' as passwd_reset_url %}
          <p class="font-proza">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
      {% else %}
          {% if form %}
              <form method="POST" action="{{ action_url }}">
                  {% csrf_token %}
                  <label for="id_password1">New Password:</label>
                  <input type="password" class="form-control AreaClass" name="password1" placeholder="New Password" required="" id="id_password1">{{ form.password1.errors }}
                  <br>
                  <label for="id_password2">New Password (again):</label>
                  <input type="password" class="form-control AreaClass" name="password2" placeholder="New Password (again)" required="" id="id_password2">{{ form.password2.errors }}
                  <br><br>
                  <input type="submit" name="action" class="btn btn-info" value="{% trans 'change password' %}"/>
              </form>
          {% else %}
              <p class="font-proza">{% trans 'Your password is now changed.' %}</p>
          {% endif %}
      {% endif %}

    </div>
  </div>


{% endblock %}
